<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalji leta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <header>
        <h1>Detaljan prikaz leta</h1>
    </header>

    <main class="container">
        <section class="details-box">
            <h2>{{ let.aviokompanija }} - {{ let.broj_leta }}</h2>

            <p><strong>Polazišni aerodrom:</strong> {{ let.polaziste_naziv }}</p>
            <p><strong>Grad / država:</strong> {{ let.polaziste_grad }}, {{ let.polaziste_drzava }}</p>
            <p><strong>IATA kod:</strong> {{ let.polaziste_kod }}</p>

            <hr>

            <p><strong>Odredišni aerodrom:</strong> {{ let.odrediste_naziv }}</p>
            <p><strong>Grad / država:</strong> {{ let.odrediste_grad }}, {{ let.odrediste_drzava }}</p>
            <p><strong>IATA kod:</strong> {{ let.odrediste_kod }}</p>

            <hr>

            <p><strong>Tip aviona:</strong> {{ avion.naziv }}</p>
<p><strong>Ukupan kapacitet aviona:</strong> {{ avion.brojSedista }}</p>
<p><strong>Trenutno slobodnih mesta:</strong> {{ let.broj_slobodnih_mesta }}</p>
<p><strong>Datum polaska:</strong> {{ let.datum_polaska }}</p>
<p><strong>Datum dolaska:</strong> {{ let.datum_dolaska }}</p>
<p><strong>Cena:</strong> {{ let.cena }} €</p>

            <div class="actions">
    <a href="{{ url_for('index2') }}">Nazad na pretragu</a>

    {% if ulogovan %}
        <a href="{{ url_for('rezervacija_leta', let_id=let.id) }}">Rezerviši sedište</a>
    {% else %}
        <a href="{{ url_for('login') }}">Ulogujte se za rezervaciju</a>
    {% endif %}
</div>
        </section>
    </main>

    <footer>
        Maturski rad Aleksa Kostadinović
    </footer>
</body>
</html>