<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerodromi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <header>
        <h1>CRUD - Aerodromi</h1>
    </header>

    <main class="container">
        <section class="table-box">
            <div class="top-actions">
                <a href="{{ url_for('index2') }}">Početna</a>
                <a href="{{ url_for('dodaj_aerodrom') }}">Dodaj aerodrom</a>
                 <a href="{{ url_for('sve_rezervacije') }}">Sve rezervacije</a>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Naziv</th>
                        <th>Grad</th>
                        <th>Država</th>
                        <th>IATA</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in aerodromi %}
                    <tr>
                        <td>{{ a.id }}</td>
                        <td>{{ a.naziv }}</td>
                        <td>{{ a.grad }}</td>
                        <td>{{ a.drzava }}</td>
                        <td>{{ a.iata_kod }}</td>
                        <td>
                            <a href="{{ url_for('izmeni_aerodrom', id=a.id) }}">Izmeni</a>
                            <a href="{{ url_for('obrisi_aerodrom', id=a.id) }}" onclick="return confirm('Da li ste sigurni?')">Obriši</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        Maturski rad Aleksa Kostadinović
    </footer>
</body>
</html>