<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if aerodrom %}Izmena aerodroma{% else %}Dodavanje aerodroma{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <header>
        <h1>{% if aerodrom %}Izmena aerodroma{% else %}Dodavanje aerodroma{% endif %}</h1>
    </header>

    <main class="container">
        <section class="form-box">
            <form method="POST" class="crud-form">
                <input type="text" name="naziv" placeholder="Naziv aerodroma" value="{{ aerodrom.naziv if aerodrom else '' }}" required>
                <input type="text" name="grad" placeholder="Grad" value="{{ aerodrom.grad if aerodrom else '' }}" required>
                <input type="text" name="drzava" placeholder="Država" value="{{ aerodrom.drzava if aerodrom else '' }}" required>
                <input type="text" name="iata_kod" placeholder="IATA kod" value="{{ aerodrom.iata_kod if aerodrom else '' }}" required maxlength="3">

                <button type="submit">Sačuvaj</button>
                <a href="{{ url_for('lista_aerodroma') }}">Nazad</a>
            </form>
        </section>
    </main>

    <footer>
        Maturski rad Aleksa Kostadinović
    </footer>
</body>
</html>