<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pretraga letova</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <header>
        <h1>Avio kompanija - Pretraga letova</h1>
    </header>
    <main class="container">
        <section class="pretraga-box">
            <h2>Pretraga letova</h2>

            <form action="{{ url_for('pretraga_letova') }}" method="GET" class="search-form">
                <select name="polaziste">
                    <option value="">-- Izaberite polazište --</option>
                    {% for a in aerodromi %}
                        <option value="{{ a.id }}" {% if request.args.get('polaziste') == a.id|string %}selected{% endif %}>
                            {{ a.grad }} ({{ a.iata_kod }})
                        </option>
                    {% endfor %}
                </select>

                <select name="odrediste">
                    <option value="">-- Izaberite odredište --</option>
                    {% for a in aerodromi %}
                        <option value="{{ a.id }}" {% if request.args.get('odrediste') == a.id|string %}selected{% endif %}>
                            {{ a.grad }} ({{ a.iata_kod }})
                        </option>
                    {% endfor %}
                </select>
                <input type="text" placeholder="Datum od" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" name="datum_od" value="{{ request.args.get('datum_od', '') }}">
                <input type="text" placeholder="Datum do" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" name="datum_do" value="{{ request.args.get('datum_do', '') }}">
                <input type="number" step="0.01" name="max_cena" placeholder="Maksimalna cena(u Eurima)" value="{{ request.args.get('max_cena', '')}}">

                <button type="submit">Pretraži</button>
            </form>
        </section>

       <section class="admin-links">
    {% if ulogovan %}
        <span>Ulogovan: {{ session_ime }} {{ session_prezime }} ({{ session_uloga }})</span>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% if session_uloga == 'korisnik' %}
        <a href="{{ url_for('moje_rezervacije') }}">Moje rezervacije</a>
        {% endif %}
        {% if session_uloga == 'admin' %}
    <a href="{{ url_for('lista_aerodroma') }}">Upravljanje aerodromima</a>
    <a href="{{ url_for('lista_letova') }}">Upravljanje letovima</a>
    <a href="{{ url_for('sve_rezervacije') }}">Sve rezervacije</a>
{% endif %}
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('signup') }}">Signup</a>
    {% endif %}
</section>
        {% if rezultati is not none %}
        <section class="rezultati-box">
            <h2>Rezultati pretrage</h2>

            {% if rezultati|length == 0 %}
                <p>Nema letova koji odgovaraju zadatim kriterijumima.</p>
            {% else %}
                <div class="results-grid">
                    {% for let in rezultati %}
                    <div class="flight-card">
                        <h3>{{ let.aviokompanija }} - {{ let.broj_leta }}</h3>
                        <p><strong>Polazište:</strong> {{ let.polaziste_grad }} ({{ let.polaziste_kod }})</p>
                        <p><strong>Odredište:</strong> {{ let.odrediste_grad }} ({{ let.odrediste_kod }})</p>
                        <p><strong>Polazak:</strong> {{ let.datum_polaska }}</p>
                        <p><strong>Cena:</strong> {{ let.cena }} €</p>
                        <p><strong>Slobodna mesta:</strong> {{ let.broj_slobodnih_mesta }}</p>
                        <a class="detalji-btn" href="{{ url_for('let_detalji', let_id=let.id) }}">Detalji leta</a>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
        {% endif %}
    </main>

    <footer>
        Maturski rad Aleksa Kostadinović
    </footer>

</body>
</html>