<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letovi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <header>
        <h1>CRUD - Letovi</h1>
    </header>

    <main class="container">
        <section class="table-box">
            <div class="top-actions">
                <a href="{{ url_for('index2') }}">Početna</a>
                <a href="{{ url_for('dodaj_let') }}">Dodaj let</a>
                 <a href="{{ url_for('sve_rezervacije') }}">Sve rezervacije</a>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Broj leta</th>
                        <th>Kompanija</th>
                        <th>Tip aviona</th>
                        <th>Polazište</th>
                        <th>Odredište</th>
                        <th>Polazak</th>
                        <th>Cena</th>
                        <th>Slobodna mesta</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in letovi %}
                    <tr>
                        <td>{{ l.id }}</td>
                        <td>{{ l.broj_leta }}</td>
                        <td>{{ l.aviokompanija }}</td>
                        <td>{{ l.tip_aviona }}</td>
                        <td>{{ l.polaziste_grad }} ({{ l.polaziste_kod }})</td>
                        <td>{{ l.odrediste_grad }} ({{ l.odrediste_kod }})</td>
                        <td>{{ l.datum_polaska }}</td>
                        <td>{{ l.cena }} €</td>
                        <td>{{ l.broj_slobodnih_mesta }}</td>
                        <td>
                            <a href="{{ url_for('izmeni_let', id=l.id) }}">Izmeni</a>
                            <a href="{{ url_for('obrisi_let', id=l.id) }}" onclick="return confirm('Da li ste sigurni?')">Obriši</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        Maturski rad Aleksa Kostadinović
    </footer>
</body>
</html>