<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <header>
        <h1>Prijava korisnika</h1>
    </header>

    <main class="container">
        <section class="form-box">
            <form method="POST" class="crud-form">
                {% if greska %}
                    <p style="color:red;">{{ greska }}</p>
                {% endif %}

                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="lozinka" placeholder="Lozinka" required>

                <button type="submit">Prijavi se</button>
                <a href="{{ url_for('signup') }}">Nemate nalog? Registrujte se</a>
                <a href="{{ url_for('index2') }}">Nazad na početnu</a>
            </form>
        </section>
    </main>

    <footer>
        Maturski rad Aleksa Kostadinović
    </footer>
</body>
</html>